h1{
    color: blue;
    background-color: yellow;
}
p{
    color:rgb(240, 7, 127);
    background-color:greenyellow
}
button{
    color:blueviolet;
    background-color: rgb(218, 237, 6);
}
body{
    background-color:#34ebe8;
}