*{
    padding: 0;
    margin: 0; /*this is set to remove default margins and padding*/
    COLOR: WHITE
}
#box{
    background-color: black;
    border: 10px solid white;
    height: 60px;
}
#logo{
    color:rgb(237, 218, 15);
    font-size: 25px;
}
button{
    background-color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentbox1{
    height:100px;
    width:100px;
    border:2px, solid,  black;
    color:blue;
    display:inline-block;
}
footer{
    background-color:black;
    text-align:center
}
#content{
    height:500px
}